body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body,
input {
  font-family: "Avenir", "helvetica neue", helvetica, arial, sans-serif;
}

#app {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 100%;
}

.author,
.title {
  color: #aeaeae;
}

.title {
  margin-top: 0;
}

footer {
  opacity: 0.5;
  padding-top: 0.5rem;
  position: absolute;
  right: 15px;
  bottom: 15px;
  text-align: right;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #aeaeae;
  line-height: 16px;
}

footer a {
  color: #969696;
  text-decoration: none;
  font-weight: bold;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }

  .quote {
    color: #eeeeee;
  }

  .author,
  .title {
    color: #969696;
  }
}
